//
* {
  @include box-sizing();
  @include selection-color($dashboard_69);

  &:before, &:after {box-sizing:border-box;}

  // simple reset; this is should come after normalize.css is imported
  margin:0px;
  padding:0px;
  outline:none;
  text-decoration:none;
  list-style-type:none;
  list-style-position:outside;
  vertical-align:top;
  border-collapse:collapse;
  resize:none;
  // border:none;
  // background:none;
}


// temperatures
.fill-temp        {&.cool {fill: $cool;} &.warm {fill: $warm;} &.hot {fill: $hot;} &.sleep {fill: $sleep;}}
.stroke-temp      {&.cool {stroke: $cool;} &.warm {stroke: $warm;} &.hot {stroke: $hot;} &.sleep {stroke: $sleep;}}
.color-temp       {&.cool {color: $cool;} &.warm {color: $warm;} &.hot {color: $hot;} &.sleep {color: $sleep;}}
.background-temp  {&.cool {background: $cool;} &.warm {background: $warm;} &.hot {background: $hot;} &.sleep {background: $sleep;}}

// enable selections
.selectable,
.selectable *,
input[type="text"],
input[type="email"],
textarea,
p {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

//
body {font-family: $proxima;
  // disable all selection by default
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// ordered
@import 'base/utils';
@import 'base/globals';

//
@import 'base/buttons';
@import 'base/ui/base';
@import 'base/dropdowns';
@import 'base/forms';
@import 'base/inputs';
@import 'base/steps/steps';
@import 'base/lifecycle';
@import 'base/blue-list/blue-list';
@import 'base/blue-list/blue-item';

.temp-test-red{background:red !important; }
