.step-title-bar  { display: flex; align-items: center; border-bottom: solid 1px #BFBFBF; padding:8px 0;
  .step-count    { color: #3F5F6B; font-style: italic; font-size:16px;
                   // CHROME TEMP FIX, REMOVE >>
                   display:table;
                   // <<
  }
  .step-title    { margin-left: 15px; text-transform: uppercase; font-weight: $bold; font-size: 14px; color: #3F5F6B;}
  .ui-btn        { cursor: pointer;  font-style:italic; color:#A4A4A4; display:flex; align-items: center;
    .txt         { margin-left:8px; }
    &.cancel     { display:flex; }
    &.back       { margin-left: auto; margin-right:40px; }
  }
}
