$slate-blue : #5F7C87;
$slate-link : #547F91;
$link-blue  : #029ADB;

// Stat state
$cool : #79B94A;
$warm : #FC8F4F;
$hot  : #DE1953;
$sleep: #DEDEDE;

//
@mixin temperatures {
  .cool  {fill: $cool;}
  .warm  {fill: $warm;}
  .hot   {fill: $hot;}
  .sleep {fill: $sleep;}
}
