
// general colors
$white:       #ffffff;
$black:       #000000;
$slate-blue:  #5F7C87;
$slate-link:  #547F91;
$link-blue:   #029ADB;

//
$stat-bg: #EDEDED;

//
@mixin core-temperatures {

  //
  $cool:  #64C41D !important;
  $warm:  #FEA540 !important;
  $hot:   #ED4545 !important;
  $sleep: #DEDEDE !important;

  // fill temps
  .fill-temp {&.cool {fill: $cool;} &.warm {fill: $warm;} &.hot {fill: $hot;} &.sleep {fill: $sleep;}}

  // stroke temps
  .stroke-temp {&.cool {stroke: $cool;} &.warm {stroke: $warm;} &.hot {stroke: $hot;} &.sleep {stroke: $sleep;}}

  // color temps
  .color-temp {&.cool {color: $cool;} &.warm {color: $warm;} &.hot {color: $hot;} &.sleep {color: $sleep;}}

  // background temps
  .background-temp {&.cool {background: $cool;} &.warm {background: $warm;} &.hot {background: $hot;} &.sleep {background: $sleep;}}
}
