
//
@mixin transition ($property:all, $duration:0.05s, $timing:linear, $delay:0s) {
  @if $property != none {
    -webkit-transition: $property $duration $timing $delay;
    -moz-transition: $property $duration $timing $delay;
    -o-transition: $property $duration $timing $delay;
    transition: $property $duration $timing $delay;
  } @else {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}

// 
@mixin drop-shadow ($xoffset:0px, $yoffset:1px, $blur:13px, $color:#050505, $radius:0px) {
  -webkit-box-shadow: $xoffset $yoffset $blur $radius $color;
  -moz-box-shadow: $xoffset $yoffset $blur $radius $color;
  box-shadow: $xoffset $yoffset $blur $radius $color;
}

//
@mixin font-size ($size, $line-height: $size) { font-size:$size; line-height:$line-height; }

//
@mixin border-radius ($r1:4px, $r2:4px, $r3:4px, $r4:4px){
  -webkit-border-radius: $r1 $r2 $r3 $r4;
  -moz-border-radius: $r1 $r2 $r3 $r4;
  border-radius: $r1 $r2 $r3 $r4;
}

//
@mixin align( $align ) {
  position:relative;

  //
  @if $align == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform:     translateX(-50%);
    transform:         translateX(-50%);
  }

  //
  @else if $align == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform:     translateY(-50%);
    transform:         translateY(-50%);
  }

  //
  @else if $align == 'center' {
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform:     translate(-50%, -50%);
    transform:         translate(-50%, -50%);
  }
}

//
@mixin box-sizing ($box-sizing:border-box) {
  -moz-box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

//
@mixin selection-color($color){
  ::selection { background:$color; }
  ::-moz-selection { background:$color; }
}

//
@mixin truncate(){
  white-space:    nowrap;
  overflow:       hidden;
  text-overflow:  ellipsis;
}

//
@mixin antiAlias(){
  -webkit-font-smoothing: antialiased;
}
