
// general colors
$white:       #ffffff;
$black:       #000000;
$slate-blue:  #5F7C87;
$slate-link:  #547F91;
$link-blue:   #029ADB;

$lightest-gray:   #ededed;
$lighter-gray:    #e8e8e8;
$light-gray:      #dedede;
$gray:            #bababa;
$dark-gray:       #3f3f3f;
$light-blue:      #407287;
$blue:            #76b5c1;
$dark-blue:       #173048;
$yellow:          #FFCC4A;

// ENGINE
$engine_1:    #AEC8D7;
$engine_2:    #3B87B6;
$engine_3:    #62B1DD;
$engine_4:    #75A6C2;
$engine_5:    #6FA0BF;
$engine_6:    #5F95BA;
$engine_7:    #567D99;
$engine_8:    #6A7D8A;
$engine_9:    #5D707A;
$engine_10:   #5A768A;
$engine_11:   #516673;
$engine_12:   #486880;
$engine_13:   #4D6473;
$engine_14:   #3B5669;
$engine_15:   #325366;
$engine_16:   #30474E;
$engine_17:   #2F4B5C;
$engine_18:   #2C4354;
$engine_19:   #2A4351;
$engine_20:   #2A4759;
$engine_21:   #2A3D4A;
$engine_22:   #293F4D;
$engine_23:   #253D4B;
$engine_24:   #24333C;
$engine_25:   #202C32;
$engine_26:   #2A363E;
$engine_27:   #212C33;
$engine_28:   #1C2930;
$engine_29:   #131D22;
$engine_30:   #5DC7C3;
$engine_31:   #FFF4CA;
$engine_32:   #FEFED7;
$engine_33:   #C3BDA5;
$engine_34:   #BDB8A1;
$engine_35:   #797667;
$engine_36:   #757264;
$engine_37:   #FF5195;
$engine_38:   #DA7374;
$engine_39:   #DB7373;
$engine_40:   #C92163;
$engine_41:   #192126;
$engine_42:   #1d272e;
$engine_43:   #3D6180;

// DEVISE
$devise_1:    #F9FDFF;
$devise_2:    #F0FBFF;
$devise_3:    #DAEAF0;
$devise_4:    #BED1D9;
$devise_5:    #ACBDC4;
$devise_6:    #8CA4AF;
$devise_7:    #8BA6AF;
$devise_8:    #97AEB8;
$devise_9:    #6BA3BA;
$devise_10:   #597F94;
$devise_11:   #50BDE5;
$devise_12:   #43ADDD;
$devise_13:   #3DA8CC;
$devise_14:   #1B8BC9;
$devise_15:   #1D7FC0;
$devise_16:   #046B90;
$devise_17:   #003D5F;
$devise_18:   #001C25;
$devise_19:   #337A72;
$devise_20:   #2C5365;

//
@import 'colors/_nanobox';
@import 'colors/_temperatures';
@import 'colors/_vendor';
