
$lightest-gray:   #ededed;
$lighter-gray:    #e8e8e8;
$light-gray:      #dedede;
$gray:            #bababa;
$dark-gray:       #3f3f3f;
$light-blue:      #407287;
$blue:            #76b5c1;
$dark-blue:       #173048;
$yellow:          #FFCC4A;

// Bright Blues
$azul:            #1EB8FF;
$azul2:           #00A2ED;

// Backgrounds
$pale-sky:        #E9EDF0;
$pale-sky2:        #DBE1E6;

//
@import 'colors/_devise';
@import 'colors/_nanobox';
@import 'colors/_temperatures';
@import 'colors/_vendor';

// general colors
$white:       #ffffff;
$black:       #000000;
$slate-blue:  #5F7C87;
$slate-link:  #547F91;
$link-blue:   #029ADB;
