
$lightest-gray:   #cdd3d8;
$lighter-gray:    #e8e8e8;
$light-gray:      #dedede;
$gray:            #bababa;
$dark-gray:       #3f3f3f;
$light-blue:      #407287;
$blue:            #76b5c1;
$dark-blue:       #173048;
$yellow:          #ffdd4a;

// Bright Blues
$azul:            #1eb8ff;
$azul2:           #00a2ed;

// Backgrounds
$pale-sky0:       #f0f3f5;
$pale-sky:        #e9edf0;
$pale-sky2:       #dbe1e6;

//
@import 'colors/_devise';
@import 'colors/_nanobox';
@import 'colors/_temperatures';
@import 'colors/_vendor';

// general colors
$white:       #ffffff;
$black:       #000000;
$slate-blue:  #5f7c87;
$slate-link:  #547f91;
$link-blue:   #029adb;
