
//
$medium:    500;
$semibold:  600;
$bold:      700;

//
$monaco:    "Monaco", monospace, sans;
$code:      $monaco;
$proxima:   "proxima-nova";


//
@mixin pagodacons {
  @include font-size(12px);
  font-family: Pagodacons;
  // -webkit-font-smoothing: antialiased;
}

// utils

//
@mixin font-size ($size, $line-height: $size) {font-size:$size; line-height:$line-height;}

//
@mixin italic {font-style:italic; font-weight:$semibold;}
