$dashboard_1:     #F8F8F8;
$dashboard_2:     #F3F3F3;
$dashboard_3:     #F0F3F5;
$dashboard_4:     #F0EFEF;
$dashboard_5:     #EBEBEB;
$dashboard_6:     #E4E4E4;
$dashboard_7:     #EAEAEA;
$dashboard_8:     #E6E6E6;
$dashboard_9:     #E9EDF0;
$dashboard_10:    #D9D9D9;
$dashboard_11:    #D5D5D5;
$dashboard_12:    #D4D3D3;
$dashboard_13:    #D3D3D3;
$dashboard_14:    #D1DCDF;
$dashboard_15:    #BCBEC0;
$dashboard_16:    #BBBBBB;
$dashboard_17:    #B2B2B2;
$dashboard_18:    #AFB0AF;
$dashboard_19:    #A8A7A7;
$dashboard_20:    #989A9A;
$dashboard_21:    #87898C;
$dashboard_22:    #828282;
$dashboard_23:    #707171;
$dashboard_24:    #6F6F6F;
$dashboard_25:    #5F6062;
$dashboard_26:    #434343;
$dashboard_27:    #343434;
$dashboard_28:    #303131;
$dashboard_29:    #0E2026;
$dashboard_30:    #00141B;
$dashboard_31:    #C4D0D3;
$dashboard_32:    #ACC1C3;
$dashboard_33:    #A5B8B8;
$dashboard_34:    #9EBCC3;
$dashboard_35:    #84B9CF;
$dashboard_36:    #AFCCD6;
$dashboard_37:    #A3C9D6;
$dashboard_38:    #ADD4E3;
$dashboard_39:    #9BB0B8;
$dashboard_40:    #9BACBD;
$dashboard_41:    #92A1A8;
$dashboard_42:    #8097A6;
$dashboard_43:    #798C94;
$dashboard_44:    #758A91;
$dashboard_45:    #707C87;
$dashboard_46:    #62808B;
$dashboard_47:    #6F7F86;
$dashboard_48:    #7EA0AC;
$dashboard_49:    #769AA6;
$dashboard_50:    #6D8FA6;
$dashboard_51:    #5F91A8;
$dashboard_52:    #518A9C;
$dashboard_53:    #597A8C;
$dashboard_54:    #4F7383;
$dashboard_55:    #5A7380;
$dashboard_56:    #596C70;
$dashboard_57:    #4A606B;
$dashboard_58:    #49585D;
$dashboard_59:    #395661;
$dashboard_60:    #36525F;
$dashboard_61:    #314954;
$dashboard_62:    #29434A;
$dashboard_63:    #1D4856;
$dashboard_64:    #1F3137;
$dashboard_65:    #122B33;
$dashboard_66:    #001D42;
$dashboard_67:    #040C14;
$dashboard_68:    #9DE1FD;
$dashboard_69:    #9EE2FC;
$dashboard_70:    #62B1DD;
$dashboard_71:    #62B1DD;
$dashboard_72:    #4FCCF3;
$dashboard_73:    #48B5DA;
$dashboard_75:    #3498D1;
$dashboard_76:    #28A8E8;
$dashboard_77:    #28A1C8;
$dashboard_78:    #2C92B6;
$dashboard_79:    #028CB9;
$dashboard_80:    #0098E3;
$dashboard_81:    #298CC3;
$dashboard_82:    #1581BA;
$dashboard_83:    #1177A8;
$dashboard_84:    #008CB5;
$dashboard_85:    #02779D;
$dashboard_86:    #036081;
$dashboard_87:    #13628A;
$dashboard_88:    #0A5370;
$dashboard_89:    #056C8B;
$dashboard_90:    #1994BE;
$dashboard_91:    #99D0D3;
$dashboard_92:    #36BCC2;
$dashboard_93:    #32E3B9;
$dashboard_94:    #3EC1A2;
$dashboard_95:    #2A9095;
$dashboard_96:    #259297;
$dashboard_97:    #1F6367;
$dashboard_98:    #305664;
$dashboard_99:    darken($dashboard_90, 10%);
$dashboard_100:   #255F73;
$dashboard_101:   #3F7D92;
$dashboard_102:   #204451;
$dashboard_103:   #113C47;
$dashboard_104:   #18323C;
$dashboard_105:   #87C45A;
$dashboard_106:   #7DB951;
$dashboard_107:   #6FA646;
$dashboard_108:   #63933F;
$dashboard_109:   #408140;
$dashboard_110:   #305329;
$dashboard_111:   #FFFDD0;
$dashboard_112:   #FCEEA9;
$dashboard_113:   #FCF1AB;
$dashboard_114:   #FFEA90;
$dashboard_115:   #FCBC5E;
$dashboard_116:   #EDBE00;
$dashboard_117:   #FEA06B;
$dashboard_118:   #F58E59;
$dashboard_119:   #E77F4B;
$dashboard_120:   #D56D44;
$dashboard_121:   #A74D28;
$dashboard_122:   #FE8081;
$dashboard_123:   #EE5473;
$dashboard_124:   #EF5662;
$dashboard_125:   #ED5F80;
$dashboard_126:   #EE4347;
$dashboard_127:   #D13239;
$dashboard_128:   #F22C68;
$dashboard_129:   #E21954;
$dashboard_130:   #CF114C;
$dashboard_131:   #B40F42;
$dashboard_132:   #A71D3C;
$dashboard_133:   #8F394D;
$dashboard_134:   #872F41;
$dashboard_135:   #672612;
$dashboard_136:   #450317;
$dashboard_137:   #232323;
