button.save                   {@include transition(background, 0.1s); @include border-radius; @include font-size(13px); display:flex; align-items:center; position:relative; min-width:135px; padding:0px 15px; color:$white; background:$dashboard_73;

  &:after                     {content:'Save Changes'; margin-left:8px;}

  svg                         {display:block;}

  //
  &:hover                     {color:$dashboard_73; background:$white; svg {path {fill:$dashboard_73;}}}

  // display
  &.creating, &.created,
  &.saving,   &.saved,
  &.submitting, &.submitted   {pointer-events:none;
    svg                       {display:none;}
  }

  // content
  &.creating, &.saving        {color:$white; background:$dashboard_92; &:after {content:'Saving...';}}
  &.created, &.saved          {color:$white; background:$dashboard_106; &:after {content:'Saved';}}
  &.submitting                {color:$white; background:$dashboard_106; &:after {content:'Submitting...';}}
  &.submitted                 {color:$white; background:$dashboard_106; &:after {content:'Submitted';}}
}

//
.save-zone                    {display:flex; align-items:center; justify-content:flex-end; margin-left:auto; margin-top:12px;

  //
  .cancel                     {@include border-radius; @include font-size(12px); @include transition(all, 0); display:flex; align-items:center; height:36px; margin-right:8px; padding:0px 15px; color:$dashboard_78; text-align:center; background:$dashboard_11; cursor:pointer;
    &:hover                   {background: white;}
  }

  //
  &.creating,   &.created,
  &.saving,     &.saved,
  &.submitting, &.submitted   {
    .cancel                   {display:none;}
  }
}
