button.circle           { @include transition(); position:relative; color:$dashboard_92; background:none;

  // circle
  &:before              { @include border-radius(100%, 100%, 100%, 100%); @include transition(); content:''; display:inline-block; position:absolute; top:2px; left:1px; width:16px; height:16px; font-size:36px; border:2px solid $white; }

  // icon
  &:after               { @include transition(); @include pagodacons(normal, '\002B'); position:absolute; top:5px; left:5px; color:$dashboard_27; font-size:12px;}

  .label                { @include transition(); @include font-size(14px); padding:1px 0px 0px 24px; font-family:$museo; color:$dashboard_27; font-weight: bold; }

  &:hover               {
    &:before            { }
    &:after             { }

    .label              { color:$dashboard_89; }
  }

}
