.pagination                 { margin-top:20px;
  button                    { @include font-size(14px); color:$dashboard_29; font-family:$museo; background:none;

    //
    &.newer                 {
      &:before              { @include svgArrow('left', 'dashboard_88', 0deg, 1.5); content:""; margin-right:10px; }
    }

    //
    &.older                 {
      &:after               { @include svgArrow('right', 'dashboard_88', 0deg, 1.5); content:""; margin-left:10px; }
      &.bordered            { padding-left:30px; border-left:1px solid $dashboard_31; margin-left:25px; }
    }
  }
}
