@mixin label    {font-size:12px; font-weight:bold; text-transform: uppercase; font-style: normal;  letter-spacing: 0.06em; color:#AFBEC7;}

.step-title-bar {display: flex; align-items: center; border-bottom: solid 1px #BFBFBF; padding:8px 0;
  .step-count   {color: #3F5F6B; font-style: italic; font-size:16px;
                   // CHROME TEMP FIX, REMOVE >>
                   display:table;
                   // <<
  }
  .step-title   {margin-left: 15px; text-transform: uppercase; font-weight: $bold; font-size: 14px; color: #3F5F6B;}
  .ui-btn       {cursor: pointer;  font-style:italic; color:#A4A4A4; display:flex; align-items: center;
    .txt        {margin-left:8px; }
    &.cancel    {display:flex; }
    &.back      {margin-left: auto; margin-right:40px; }
  }
  &.reduce-to-cancel{border:none; margin:10px 0 -10px;
    .step-count, .back, .step-title{display:none}
    .cancel{margin-left: auto;}
  }
}

.step-manager         {
  .step-wrapper       {position: relative;
    $easing : cubic-bezier(0.840, 0.005, 0.000, 1.000);

    .steps            {position: absolute; display: flex; @include transition(all, 350ms, $easing);
      .step           {flex-shrink: 0; opacity:0; @include transition(opacity, 450ms, $easing); position: relative;
        table         {margin:40px 0 0;
          tr          {}
          td          {vertical-align: middle; padding-bottom: 20px; white-space:nowrap;
            &.label   {@include label;padding-right:10px;
              &:after {content:" : "}
            }
            &:last-of-type {width: 100%;
              input        {width:100%; }
            }
          }
        }
        .step-error   {position:absolute;  bottom: 110%; width:100%;  border: 4px solid #ED596F; color:#5B3C40; padding:10px; background: white; font-size:16px;
          &:after     {top: 100%; left: 45px; border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(#ED596F, 0); border-top-color: #ED596F; border-width: 15px; margin-left: -15px;}
        }

        &.active      {opacity:1; }
      }
    }
  }
}
