// pagodacons
@font-face {
  font-family: Pagodacons;
  font-weight: normal;
  font-style: normal;
  src: url('/assets/pagodacons-regular-webfont.eot');
  src: url('/assets/pagodacons-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/pagodacons-regular-webfont.woff2') format('woff2'),
       url('/assets/pagodacons-regular-webfont.woff') format('woff'),
       url('/assets/pagodacons-regular-webfont.ttf') format('truetype'),
       url('/assets/pagodacons-regular-webfont.svg#pagodaconsregular') format('svg');
}
