//
@mixin placeholderTxtColor($color) {
  &::-webkit-input-placeholder  {color: $color}
  &:-moz-placeholder            {color: $color}
  &:-ms-input-placeholder       {color: $color}
  &::-moz-placeholder           {color: $color}
}

//
input                             {@include font-size(15px); @include transition(all, 0.08s); @include placeholderTxtColor($dashboard_9); color:$dashboard_73; height:36px; padding:6px 10px; font-style:italic; background:$white;}
input[type="submit"]              {font-style:initial; cursor:pointer;}

//
select                            {height:36px; }


//
.input                            {@include font-size(15px); display:flex; flex-direction:column; width:100%; color:$dashboard_100;

  //
  label                           {@include font-size(13px); margin-bottom:5px; color:$dashboard_15;}

  // TYPES

  // checkboxes
  &.boolean                       {flex-direction:row; align-items:flex-start; justify-content:space-between;
    label                         {@include font-size(14px); width:96%; margin:0px; color:$dashboard_42;}
    input                         {height:auto;}
  }

  // radio buttons
  &.radio_buttons                 {flex-direction:row; align-items:flex-start; justify-content:space-between;
    label                         {@include font-size(14px); margin:0px; color:$dashboard_42;}
    input                         {height:auto;}
  }

  // STATES
  &.disabled                      {input {color:$dashboard_100; background:$dashboard_8;}}
  &.inactive                      {input {color:$dashboard_23; background:$dashboard_8;}}
}
