.lexi .lexi-on-white,
.lexi.lexi-on-white            {margin-top:30px; 
  $bg-color:#EDEDED;
  label                   {display: flex; flex-direction: column; @include caps(#93abb9, 12px); font-style:normal; line-height: 30px; }
  input.lexi-input        {background:$bg-color; height:50px; border:none; padding-left:15px;
    &:focus               {background:#f9e7d0}
  }
  .lexi-ui                {
    &.drop-down-trigger   {text-transform: none; letter-spacing: 0; background:$bg-color; height:50px; max-height:50px; border:none; align-items: center; padding-left:15px;
      &:after             {margin-right:20px; }
    }
  }
}
