$modal_index: 100000;

//
#modal                    {@include align('center'); @include font-size(14px); position:fixed; z-index:$modal_index; width:600px; padding:34px 42px 26px; background:$dashboard_5; overflow:hidden; text-align:left;
  .close                  {position:absolute; top:0px; right:0px; margin:10px; cursor:pointer;
    svg path              {fill:$dashboard_47;}
    &:hover svg path      {fill:$dashboard_73;}
  }

  //
  .body                   {width:100%;
    h4                    {@include truncate(); @include font-size(18px); margin-bottom:21px; color:$dashboard_47;}
    p                     {@include font-size(14px); color:$dashboard_41; strong {color:$dashboard_47;}}
    .input                {width:100%; margin-bottom:12px;}
    button                {margin-left:auto;}
  }
}
