
	.st0_j8n7r5y7{fill:none;stroke:#218BB0;stroke-width:1.1126;stroke-linecap:round;stroke-linejoin:round;}
	.st1_j8n7r5y7{fill:#218BB0;}
	.st2_j8n7r5y7{fill:#FFFFFF;}
	.st3_j8n7r5y7{fill:none;stroke:#46B4DB;stroke-width:0.8798;stroke-linecap:round;stroke-linejoin:round;}
	.st4_j8n7r5y7{fill:#46B4DB;}
	.st5_j8n7r5y7{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
	.st6_j8n7r5y7{fill:#005A7A;}
	.st7_j8n7r5y7{fill:none;stroke:#DB4559;stroke-width:2;stroke-miterlimit:10;}
	.st8_j8n7r5y7{fill:none;stroke:#717D85;stroke-width:2.5;stroke-miterlimit:10;}
	.st9_j8n7r5y7{fill:none;stroke:#717D85;stroke-width:2;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st10_j8n7r5y7{fill:none;stroke:#717D85;stroke-width:2;stroke-miterlimit:10;}
	.st11_j8n7r5y7{fill:#405C70;}
	.st12_j8n7r5y7{fill:#2F4352;}
	.st13_j8n7r5y7{fill:#1C2830;}
	.st14_j8n7r5y7{fill:#19242B;}
	.st15_j8n7r5y7{fill:#1E77A3;}
	.st16_j8n7r5y7{fill:#175D80;}
	.st17_j8n7r5y7{fill:#62B1DD;}
	.st18_j8n7r5y7{opacity:0.42;fill:#0B194F;}
	.st19_j8n7r5y7{fill:#43C494;}
	.st20_j8n7r5y7{fill:#4AAA88;}
	.st21_j8n7r5y7{fill:#7FE0BF;}
	.st22_j8n7r5y7{opacity:0.76;fill:#43C4A6;}
	.st23_j8n7r5y7{fill:#FFF4CA;}
	.st24_j8n7r5y7{fill:#E9D399;}
	.st25_j8n7r5y7{fill:#D9BB6F;}
	.st26_j8n7r5y7{fill:#029ADB;}
	.st27_j8n7r5y7{fill:none;stroke:#029ADB;stroke-width:0.8452;stroke-miterlimit:10;}
	.st28_j8n7r5y7{fill:#1CACEF;}
	.st29_j8n7r5y7{fill-rule:evenodd;clip-rule:evenodd;fill:#1CACEF;}
	.st30_j8n7r5y7{fill-rule:evenodd;clip-rule:evenodd;fill:#FF9900;}
	.st31_j8n7r5y7{fill:#263444;}
	.st32_j8n7r5y7{fill:#CFCECB;}
	.st33_j8n7r5y7{fill:#F4B51A;}
	.st34_j8n7r5y7{fill:#DD462F;}
	.st35_j8n7r5y7{fill:#517DBF;}
	.st36_j8n7r5y7{fill:#EFEFEF;}
	.st37_j8n7r5y7{fill:#4F71A9;}
	.st38_j8n7r5y7{fill:#C3432F;}
	.st39_j8n7r5y7{fill:#D19D2A;}
	.st40_j8n7r5y7{fill:#E6E5E4;}
	.st41_j8n7r5y7{fill:none;stroke:#769AA8;stroke-miterlimit:10;}
	.st42_j8n7r5y7{opacity:0.76;fill:#E1E7EB;}
	.st43_j8n7r5y7{fill:url(#SVGID_1_j8n7r5y7);}
	.st44_j8n7r5y7{fill:#51C8FF;}
	.st45_j8n7r5y7{fill:#1EB6FC;}
	.st46_j8n7r5y7{fill:#D3E5F0;}
	.st47_j8n7r5y7{fill:#C4D5DF;}
	.st48_j8n7r5y7{fill:#CADCE6;}
	.st49_j8n7r5y7{fill:none;stroke:#D0E2ED;stroke-width:1.0658;stroke-miterlimit:10;stroke-dasharray:9.4284,2.6938;}
	.st50_j8n7r5y7{fill:none;stroke:#0067A3;stroke-width:2;stroke-miterlimit:10;}
	.st51_j8n7r5y7{fill:#0067A3;}
	.st52_j8n7r5y7{fill:#F0FBFF;}
	.st53_j8n7r5y7{fill:none;stroke:#005573;stroke-width:2;stroke-miterlimit:10;}
	.st54_j8n7r5y7{fill:none;stroke:#005573;stroke-width:2;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st55_j8n7r5y7{fill:#FF7A91;}
	.st56_j8n7r5y7{fill:#E15F72;}
	.st57_j8n7r5y7{fill:#F0E7E6;}
	.st58_j8n7r5y7{fill:#DFD6D6;}
	.st59_j8n7r5y7{fill:#E6DDDD;}
	.st60_j8n7r5y7{fill:none;stroke:#EDE3E3;stroke-width:1.0658;stroke-miterlimit:10;stroke-dasharray:9.4284,2.6938;}
	.st61_j8n7r5y7{fill:none;stroke:#769AA8;stroke-width:1.5;stroke-miterlimit:10;}
	.st62_j8n7r5y7{fill:#E9EDF0;stroke:#769AA8;stroke-width:1.5;stroke-miterlimit:10;}
	.st63_j8n7r5y7{fill:none;stroke:#769AA8;stroke-width:1.5;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st64_j8n7r5y7{fill:none;stroke:#43C4A6;stroke-width:2.3066;stroke-miterlimit:10;}
	.st65_j8n7r5y7{fill:#F0F4F7;}
	.st66_j8n7r5y7{fill:#1EB8FF;}
	.st67_j8n7r5y7{fill:none;stroke:#FFFFFF;stroke-width:2.3066;stroke-miterlimit:10;}
	.st68_j8n7r5y7{fill:none;stroke:#079EE3;stroke-width:2;stroke-miterlimit:10;}
	.st69_j8n7r5y7{fill:#079EE3;}
	.st70_j8n7r5y7{fill:#0A4770;}
	.st71_j8n7r5y7{fill:#0A4770;stroke:#0A4770;stroke-width:1.5;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st72_j8n7r5y7{fill:none;stroke:#586570;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
	.st73_j8n7r5y7{fill:#FF6800;}
	.st74_j8n7r5y7{fill:none;stroke:#1EB8FF;stroke-width:2.3066;stroke-miterlimit:10;}
	.st75_j8n7r5y7{fill:none;stroke:#E3F3FF;stroke-width:2;stroke-miterlimit:10;}
	.st76_j8n7r5y7{fill:#009FEF;}
	.st77_j8n7r5y7{fill:#95A1A8;}
	.st78_j8n7r5y7{clip-path:url(#SVGID_3_j8n7r5y7);fill:#00AEF7;}
	.st79_j8n7r5y7{fill:#DFA22F;}
	.st80_j8n7r5y7{fill:#3CB187;}
	.st81_j8n7r5y7{fill:#CE1E5B;}
	.st82_j8n7r5y7{fill:#392538;}
	.st83_j8n7r5y7{fill:#BB242A;}
	.st84_j8n7r5y7{fill:#72C5CD;}
	.st85_j8n7r5y7{fill:#248C73;}
	.st86_j8n7r5y7{fill:#62803A;}
	.st87_j8n7r5y7{fill:#2B2B2B;}
	.st88_j8n7r5y7{fill:#145F30;stroke:#145F30;stroke-width:1.5;stroke-miterlimit:10;}
	.st89_j8n7r5y7{fill:#00A85D;stroke:#00A85D;stroke-width:1.3;stroke-miterlimit:10;}
	.st90_j8n7r5y7{fill:url(#SVGID_4_j8n7r5y7);}
	.st91_j8n7r5y7{fill:#151413;}
	.st92_j8n7r5y7{fill:#008CDB;}
	.st93_j8n7r5y7{fill:#942AC8;}
	.st94_j8n7r5y7{fill:#711F97;}
	.st95_j8n7r5y7{fill:#0BACDD;}
	.st96_j8n7r5y7{fill:url(#SVGID_5_j8n7r5y7);}
	.st97_j8n7r5y7{fill:#064991;}
