
	.st0_j8ltoqnn{fill:none;stroke:#218BB0;stroke-width:1.1126;stroke-linecap:round;stroke-linejoin:round;}
	.st1_j8ltoqnn{fill:#218BB0;}
	.st2_j8ltoqnn{fill:#FFFFFF;}
	.st3_j8ltoqnn{fill:none;stroke:#46B4DB;stroke-width:0.8798;stroke-linecap:round;stroke-linejoin:round;}
	.st4_j8ltoqnn{fill:#46B4DB;}
	.st5_j8ltoqnn{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
	.st6_j8ltoqnn{fill:#005A7A;}
	.st7_j8ltoqnn{fill:none;stroke:#DB4559;stroke-width:2;stroke-miterlimit:10;}
	.st8_j8ltoqnn{fill:none;stroke:#717D85;stroke-width:2.5;stroke-miterlimit:10;}
	.st9_j8ltoqnn{fill:none;stroke:#717D85;stroke-width:2;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st10_j8ltoqnn{fill:none;stroke:#717D85;stroke-width:2;stroke-miterlimit:10;}
	.st11_j8ltoqnn{fill:#405C70;}
	.st12_j8ltoqnn{fill:#2F4352;}
	.st13_j8ltoqnn{fill:#1C2830;}
	.st14_j8ltoqnn{fill:#19242B;}
	.st15_j8ltoqnn{fill:#1E77A3;}
	.st16_j8ltoqnn{fill:#175D80;}
	.st17_j8ltoqnn{fill:#62B1DD;}
	.st18_j8ltoqnn{opacity:0.42;fill:#0B194F;}
	.st19_j8ltoqnn{fill:#43C494;}
	.st20_j8ltoqnn{fill:#4AAA88;}
	.st21_j8ltoqnn{fill:#7FE0BF;}
	.st22_j8ltoqnn{opacity:0.76;fill:#43C4A6;}
	.st23_j8ltoqnn{fill:#FFF4CA;}
	.st24_j8ltoqnn{fill:#E9D399;}
	.st25_j8ltoqnn{fill:#D9BB6F;}
	.st26_j8ltoqnn{fill:#029ADB;}
	.st27_j8ltoqnn{fill:none;stroke:#029ADB;stroke-width:0.8452;stroke-miterlimit:10;}
	.st28_j8ltoqnn{fill:#1CACEF;}
	.st29_j8ltoqnn{fill-rule:evenodd;clip-rule:evenodd;fill:#1CACEF;}
	.st30_j8ltoqnn{fill-rule:evenodd;clip-rule:evenodd;fill:#FF9900;}
	.st31_j8ltoqnn{fill:#263444;}
	.st32_j8ltoqnn{fill:#CFCECB;}
	.st33_j8ltoqnn{fill:#F4B51A;}
	.st34_j8ltoqnn{fill:#DD462F;}
	.st35_j8ltoqnn{fill:#517DBF;}
	.st36_j8ltoqnn{fill:#EFEFEF;}
	.st37_j8ltoqnn{fill:#4F71A9;}
	.st38_j8ltoqnn{fill:#C3432F;}
	.st39_j8ltoqnn{fill:#D19D2A;}
	.st40_j8ltoqnn{fill:#E6E5E4;}
	.st41_j8ltoqnn{fill:none;stroke:#769AA8;stroke-miterlimit:10;}
	.st42_j8ltoqnn{opacity:0.76;fill:#E1E7EB;}
	.st43_j8ltoqnn{fill:url(#SVGID_1_j8ltoqnn);}
	.st44_j8ltoqnn{fill:#51C8FF;}
	.st45_j8ltoqnn{fill:#1EB6FC;}
	.st46_j8ltoqnn{fill:#D3E5F0;}
	.st47_j8ltoqnn{fill:#C4D5DF;}
	.st48_j8ltoqnn{fill:#CADCE6;}
	.st49_j8ltoqnn{fill:none;stroke:#D0E2ED;stroke-width:1.0658;stroke-miterlimit:10;stroke-dasharray:9.4284,2.6938;}
	.st50_j8ltoqnn{fill:none;stroke:#0067A3;stroke-width:2;stroke-miterlimit:10;}
	.st51_j8ltoqnn{fill:#0067A3;}
	.st52_j8ltoqnn{fill:#F0FBFF;}
	.st53_j8ltoqnn{fill:none;stroke:#005573;stroke-width:2;stroke-miterlimit:10;}
	.st54_j8ltoqnn{fill:none;stroke:#005573;stroke-width:2;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st55_j8ltoqnn{fill:#FF7A91;}
	.st56_j8ltoqnn{fill:#E15F72;}
	.st57_j8ltoqnn{fill:#F0E7E6;}
	.st58_j8ltoqnn{fill:#DFD6D6;}
	.st59_j8ltoqnn{fill:#E6DDDD;}
	.st60_j8ltoqnn{fill:none;stroke:#EDE3E3;stroke-width:1.0658;stroke-miterlimit:10;stroke-dasharray:9.4284,2.6938;}
	.st61_j8ltoqnn{fill:none;stroke:#769AA8;stroke-width:1.5;stroke-miterlimit:10;}
	.st62_j8ltoqnn{fill:#E9EDF0;stroke:#769AA8;stroke-width:1.5;stroke-miterlimit:10;}
	.st63_j8ltoqnn{fill:none;stroke:#769AA8;stroke-width:1.5;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st64_j8ltoqnn{fill:none;stroke:#43C4A6;stroke-width:2.3066;stroke-miterlimit:10;}
	.st65_j8ltoqnn{fill:#F0F4F7;}
	.st66_j8ltoqnn{fill:#1EB8FF;}
	.st67_j8ltoqnn{fill:none;stroke:#FFFFFF;stroke-width:2.3066;stroke-miterlimit:10;}
	.st68_j8ltoqnn{fill:none;stroke:#079EE3;stroke-width:2;stroke-miterlimit:10;}
	.st69_j8ltoqnn{fill:#079EE3;}
	.st70_j8ltoqnn{fill:#0A4770;}
	.st71_j8ltoqnn{fill:#0A4770;stroke:#0A4770;stroke-width:1.5;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st72_j8ltoqnn{fill:none;stroke:#586570;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
	.st73_j8ltoqnn{fill:#FF6800;}
	.st74_j8ltoqnn{fill:none;stroke:#1EB8FF;stroke-width:2.3066;stroke-miterlimit:10;}
	.st75_j8ltoqnn{fill:none;stroke:#E3F3FF;stroke-width:2;stroke-miterlimit:10;}
	.st76_j8ltoqnn{fill:#009FEF;}
	.st77_j8ltoqnn{fill:#95A1A8;}
	.st78_j8ltoqnn{clip-path:url(#SVGID_3_j8ltoqnn);fill:#00AEF7;}
	.st79_j8ltoqnn{fill:#DFA22F;}
	.st80_j8ltoqnn{fill:#3CB187;}
	.st81_j8ltoqnn{fill:#CE1E5B;}
	.st82_j8ltoqnn{fill:#392538;}
	.st83_j8ltoqnn{fill:#BB242A;}
	.st84_j8ltoqnn{fill:#72C5CD;}
	.st85_j8ltoqnn{fill:#248C73;}
	.st86_j8ltoqnn{fill:#62803A;}
	.st87_j8ltoqnn{clip-path:url(#SVGID_5_j8ltoqnn);fill:#097ED6;}
	.st88_j8ltoqnn{clip-path:url(#SVGID_7_j8ltoqnn);fill:#097ED6;}
	.st89_j8ltoqnn{clip-path:url(#SVGID_9_j8ltoqnn);fill:#097ED6;}
	.st90_j8ltoqnn{clip-path:url(#SVGID_11_j8ltoqnn);fill:#097ED6;}
	.st91_j8ltoqnn{clip-path:url(#SVGID_13_j8ltoqnn);fill:#097ED6;}
	.st92_j8ltoqnn{clip-path:url(#SVGID_15_j8ltoqnn);fill:#097ED6;}
	.st93_j8ltoqnn{clip-path:url(#SVGID_35_j8ltoqnn);fill:#097ED6;}
	.st94_j8ltoqnn{clip-path:url(#SVGID_37_j8ltoqnn);fill:#097ED6;}
	.st95_j8ltoqnn{clip-path:url(#SVGID_39_j8ltoqnn);fill:#097ED6;}
	.st96_j8ltoqnn{clip-path:url(#SVGID_41_j8ltoqnn);fill:#097ED6;}
	.st97_j8ltoqnn{clip-path:url(#SVGID_43_j8ltoqnn);fill:#097ED6;}
	.st98_j8ltoqnn{clip-path:url(#SVGID_45_j8ltoqnn);fill:#097ED6;}
	.st99_j8ltoqnn{clip-path:url(#SVGID_47_j8ltoqnn);fill:#097ED6;}
	.st100_j8ltoqnn{clip-path:url(#SVGID_49_j8ltoqnn);fill:#097ED6;}
	.st101_j8ltoqnn{clip-path:url(#SVGID_51_j8ltoqnn);fill:#097ED6;}
	.st102_j8ltoqnn{fill:url(#SVGID_52_j8ltoqnn);}
	.st103_j8ltoqnn{fill:#151413;}
	.st104_j8ltoqnn{fill:#008CDB;}
	.st105_j8ltoqnn{fill:#5C2D73;}
	.st106_j8ltoqnn{fill:#0BACDD;}
	.st107_j8ltoqnn{fill:#E34D59;}
	.st108_j8ltoqnn{fill:#103E70;}
