//
button, .button {@include transition(); @include font-size(12px); position:relative; margin:0px; padding:5px; color:$dashboard_73; text-align:left; border:none; background:$white; cursor:pointer;
  .label        {@include transition(); @include font-size(inherit); display:inline-block; margin:0px; font-family:inherit; color:inherit;}

  &.simple      {background:none;}
  &.inverse     {color:$white; background:$dashboard_73;}

  &:hover       {color:$dashboard_85;}
  &:focus       {@extend :hover;}
}
